@font-face {
  font-family: 'anton';
  src: url('./fonts/Anton.woff') format('truetype');
}
@font-face {
  font-family: 'termina';
  src: url('./fonts/Termina-Regular.woff2') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* @keyframes flowingOutline {
  0%, 100% {
    stroke: #ff00ff;
    stroke-dasharray: 0 300;
    stroke-dashoffset: 0;
  }
  50% {
    stroke: #00ffff;
    stroke-dasharray: 300 0;
    stroke-dashoffset: -300;
  }
} */

.cursor-outer {
  width: 60px;
  height: 60px;
  border: 2px solid rgba(47, 255, 0, 0.5);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease;
  mix-blend-mode: difference;
}

.cursor-inner {
  width: 12px;
  height: 12px;
  background-color: rgb(0, 255, 8);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.05s ease;
  mix-blend-mode: difference;
}

.cursor-trail {
  width: 20px;
  height: 20px;
  background-color: rgba(30, 255, 0, 0.3);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9998;
  mix-blend-mode: difference;
}

body {
  cursor: none;
}

/* Add hover effects for interactive elements */
a:hover, button:hover {
  cursor: pointer;
}

a:hover ~ .cursor-outer,
button:hover ~ .cursor-outer {
  transform: scale(1.5);
  background-color: rgba(55, 255, 0, 0.1);
}

