@font-face {
  font-family: 'anton';
  src: url('./Anton.woff') format('truetype');
}
@font-face {
  font-family: 'termina';
  src: url('./Termina-Regular.woff2') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

