@font-face {
  font-family: 'anton';
  src: url('./fonts/Anton.woff') format('truetype');
}
@font-face {
  font-family: 'termina';
  src: url('./fonts/Termina-Regular.woff2') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes flowingOutline {
  0%, 100% {
    stroke: #ff00ff;
    stroke-dasharray: 0 300;
    stroke-dashoffset: 0;
  }
  50% {
    stroke: #00ffff;
    stroke-dasharray: 300 0;
    stroke-dashoffset: -300;
  }
}

